/* font-family: "CenturyGothicRegular"; */
@font-face {
    font-family: "CenturyGothicRegular";
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body {
    height: 100%;
    font-family: "CenturyGothicRegular";
    color: #000;
}

.page-header {
    background: #F6F6F6;
    height: 100px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-header .row > div {
    display: inline-block;
    float: left;
}

.logo-link {
    display: block;
    width: 226px;
}

.main-menu {
    padding: 0;
    margin: 23px 0 0 23px;
}
.main-menu li {
    padding: 0;
    float: left;
}
.main-menu a,
.main-menu a:focus,
.main-menu a:active,
.main-menu a:target {
    display: block;
    height: 35px;
    line-height: 33px;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    padding: 0 5px;
}
.main-menu a:hover {
    text-decoration: none;
}

.main-menu .main-link.active a, 
.main-menu .main-link a:hover {
    border-color: #C93C2B;
}

.main-menu .how-link.active a, 
.main-menu .how-link a:hover {
    border-color: #AF4B9F;
}

.main-menu .customer-link.active a, 
.main-menu .customer-link a:hover {
    border-color: #27A3C9;
}

.main-menu .contractor-link.active a, 
.main-menu .contractor-link a:hover {
    border-color: #F69F23;
}

.main-menu .job-link {
    padding-left: 7px;
}
.main-menu .job-link a {
    width: 100px;
    height: 40px;
}

.register-menu {
    margin-top: 23px;
}

.register-menu a, 
.register-menu a:focus {
    display: block;
    height: 35px;
    line-height: 33px;
    border-bottom: 2px solid transparent;
    padding: 0 5px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.register-menu a:hover,
.register-menu a:active,
.register-menu a:target {
    color: #A63694;
    text-decoration: none;
    border-color: #A63694;
}

.auth-user__avatar {
    float: left;
    border-radius: 5px;
    overflow: hidden;
    width: 60px;
    height: 70px;
    margin-right: 5px;
}

.default-avatar {
    display: flex;
    width: 60px;
    height: 70px;
    margin: auto;
    background: #BCBCBC;
}

.default-avatar:after {
    content: '';
    display: block;
    margin: auto;
    width: 50px;
    height: 60px;
    background: url(../images/avatar.png) no-repeat center center;
}

.auth-user__info {
    float: left;
    font-size: 10px;
    width: calc((100%) - (75px));
}
.auth-user__info ul {
    margin: 0;
}
.auth-user__info li {
    height: 18px;
    line-height: 18px;
}
.auth-user__info li + li {
    margin-top: 1px;
}

.user-name {
    display: block;
    line-height: inherit;
    padding: 0 5px;
    color: #fff;
    background: #F69F23;
}

.user-name.customer {
    background: #27A3C9;
}
.user-name.customer:hover {
    background: #52B5D3;
}

.order-item .profile-card ul > li {
    color: #000;
    line-height: 14px;
}

.order-item .profile-card ul > li > span {
    color: #fff;
}

.positive-rating,
.order-item ul > li > span.positive-rating {
    color: #007E00;
}

.negative-rating,
.order-item ul > li > span.negative-rating {
    color: #FF0000;
}

.neutral-rating,
.order-item ul > li > span.neutral-rating {
    color: #000;
}

.positive-rating,
.neutral-rating, 
.negative-rating {
    font-weight: bold;
    margin-right: 5px;
}

.left-side, 
.right-side {
    float: left;
    width: 50%;
}

.exit-link, 
.exit-link:hover {
    color: #000;
}

.page-content {
    margin: 0 auto;
    min-height: calc((100%) - (100px));
    padding-top: 20px;
    padding-bottom: 250px;
}

.adv-block {
    min-height: 120px;
    overflow: hidden;
    margin: 0 auto 10px;
}

.orders-tabs ul.nav-tabs {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.orders-tabs ul.nav-tabs > li {
    width: calc((100%) / (3));
}
.orders-tabs.customer-orders ul.nav-tabs > li {
    width: 50%;
}

.orders-tabs ul.nav-tabs > li > a {
    color: #fff;
    background: #BCBCBC;
    margin: 0;
    text-align: center;
    border: none;
    border-radius: 4px;
}
.orders-tabs ul.nav-tabs > li > a:hover {
    background: #F7B24F;
}
.orders-tabs ul.nav-tabs > li.active > a, 
.orders-tabs ul.nav-tabs > li.active > a:hover, 
.orders-tabs ul.nav-tabs > li.active > a:focus {
    background: #F69F23;
    border: none;
    color: #fff;
}

.orders-tabs.customer-orders ul.nav-tabs > li > a:hover {
    background: #52B5D3;
}
.orders-tabs.customer-orders ul.nav-tabs > li.active > a, 
.orders-tabs.customer-orders ul.nav-tabs > li.active > a:hover, 
.orders-tabs.customer-orders ul.nav-tabs > li.active > a:focus {
    background: #27A3C9;
    border: none;
    color: #fff;
}

.orders-tabs .panel-custom {
    background: transparent;
    margin-top: 0;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.orders-tabs .panel-custom .panel-heading {
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 5px;
    border-top: none;
    border-bottom: 1px solid #BCBCBC;
}

.orders-tabs .panel-custom .panel-heading .panel-title {
    font-size: 12px;
    color: #000;
}

.orders-tabs .panel-custom .panel-heading .panel-title > a,
.orders-tabs .panel-custom .panel-heading .panel-title > a:hover,
.orders-tabs .panel-custom .panel-heading .panel-title > a:focus {
    text-decoration: none;
}

.orders-tabs .panel-custom + .panel-custom {
    margin-top: 0;
}

.orders-tabs .tab-content {
    background: #F6F6F6;
}

.page-footer {
    background: #3D6A81;
    height: 240px;
    margin: -240px 0 0;
    padding-top: 42px;
}
.page-footer.landing-page {
    margin-top: 0;
}

.page-footer h5 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 16px;
}

.page-footer ul {
    padding-left: 21px;
}
.page-footer ul li + li {
    margin-top: 6px;
}

.page-footer a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: underline;
    font-size: 12px;
}
.page-footer a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.btn-special {
    text-transform: none;
    text-align: center;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 3px;
    border-left-width: 0;
    border-style: solid;
    padding: 3px 5px 0;
    border-radius: 5px;
    color: #fff;
}
.btn-special:hover {
    color: #fff;
    text-decoration: none;
    border-top-width: 3px;
    border-bottom-width: 0;
    padding-top: 0;
    padding-bottom: 3px;
}

.btn-purple {
    background: #A63694;
}
.btn-purple:hover {
    background: #B65DA7;
}

.btn-special.btn-purple {
    border-color: #4C004E;
}

.btn-red {
    background: #C93C2B;
}
.btn-red:hover {
    background: #C95E51;
}

.btn-special.btn-red {
    border-color: #922519;
}

.btn-blue {
    background: #27A3C9;
    color: #fff;
}
.btn-blue:hover {
    background: #44B0D1;
}

.btn-black {
    background: #232323;
    color: #fff;
}
.btn-black:hover {
    background: #434343;
}

.btn-special.btn-black {
    border-color: #000;
}

.btn-special.btn-blue {
    border-color: #00648C;
}

.btn-special.btn-dark-blue {
    background: #0450D9;
    border-color: #1B1464;
}
.btn-special.btn-dark-blue:hover {
    background: #366ED9;
}

.btn-special.btn-orange {
    background: #FF8932;
    border-color: #C86400;
}
.btn-special.btn-orange:hover {
    background: #FE9D54;
}

.btn-special.btn-yellow-light {
    background: #FCD41C;
    border-color: #C39600;
}
.btn-special.btn-yellow-light:hover {
    background: #FCD642;
}

.btn-special.btn-yellow {
    background: #F69F23;
    border-color: #C86400;
}
.btn-special.btn-yellow:hover {
    background: #F8AC40;
}

.btn-special-red, a.btn-special-red {
    text-transform: none;
    text-align: center;
    font-size: 9px;
    background: #C93C2B;
    border-top: none;
    border-bottom: 3px solid #922519;
    padding: 3px 5px 0;
    border-radius: 5px;
    color: #fff;
    min-width: 25px;
    min-height: 25px;
}
.btn-special-red:hover {
    border-top: 3px solid #922519;
    padding-top: 0;
    padding-bottom: 3px;
    border-bottom: none;
    background: #C95E51;
    color: #fff;
}

.btn-special-red.time {
    width: 60px;
    line-height: 10px;
    font-size: 8px;
}

.btn-empty {
    background: none;
    border: none;
    padding: 0;
}

.btn-special-red.btn-big {
    width: 350px;
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 10px;
}

.one-line {
    display: block;
    clear: both;
}

.white-line {
    background: #fff;
    width: 10px;
    height: 2px;
    margin: 0 auto;
}
.white-line + .white-line {
    margin-top: 2px;
}
.white-line:last-child {
    margin-bottom: 2px;
}

.icon.small {
    display: block;
    width: 10px;
    height: 10px;
    margin: -1px auto 0;
    position: relative;
}

.checked {
    background: url(../images/check-icon.png) no-repeat;
}

.remove:before, .remove:after {
    position: absolute;
    left: 4px;
    content: ' ';
    height: 16px;
    top: -3px;
    width: 2px;
    background-color: #fff;
}
.remove:before {
  transform: rotate(45deg);
}
.remove:after {
  transform: rotate(-45deg);
}

.white-square {
    background: #fff;
}

.hammer {
    background: url(../images/edit-icon.png) no-repeat;
}

.message {
    background: url(../images/message-icon.png) no-repeat;
}

.user {
    background: url(../images/user-icon.png) no-repeat;
}

.order-item {
    color: #fff;
}
.order-item:first-child {
    margin-top: 10px;
}
.order-item + .order-item {
    margin-top: 5px;
}

.order-header {
    background: #33637B;
    cursor: pointer;
    padding: 6px;
    border-radius: 5px 5px 0 0;
    font-size: 12px;
}
.opened > .order-header {
    background: #F69F23;
}
.no-footer .order-header {
    border-radius: 5px;
}
.order-item:hover .order-header {
    background: #46788C;
}
.order-item.opened:hover .order-header {
    background: #F69F23;
}

.order-offer .order-header,
.order-offer:hover .order-header {
    background: #F69F23;
}

.order-footer {
    background: #14465A;
    padding: 6px;
    border-radius: 0 0 5px 5px;
    font-size: 10px;
}
.opened > .order-footer {
    background: #C86400;
}

.order-remove, 
.order-remove:focus {
    color: #fff;
    text-decoration: underline;
}
.order-remove:hover {
    color: #fff;
    text-decoration: none;
}

.plate {
    width: 100%;
    height: 37px;
    line-height: 37px;
    border-radius: 5px;
    color: #fff; 
    padding-right: 15px;
    padding-left: 25px;
    cursor: pointer;
    position: relative;
}

.plate.round-top {
    border-radius: 5px 5px 0 0;
}

.plate + .plate {
    margin-top: 5px;
}

.plate.plate-blue {
    background: #27A3C9;
}
.plate.plate-blue:hover {
    background: #52B5D3;
}

.plate.plate-red {
    background: #C93C2B;
    margin-top: 10px;
    margin-bottom: 23px;
}
.plate.plate-red:hover {
    background: #D36355;
}

.plate.plate-purple {
    background: #A63694;
    margin-bottom: 23px;
}
.plate.plate-purple:hover {
    background: #B65CA7;
}

.plate-count {
    float: right;
    font-weight: bold;
}

.welcome-block {
    height: 650px;
    background: url(../images/welcome-bg.jpg) no-repeat center top;
    background-size: cover;
    position: relative;
    padding-top: 43px;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(100%); 
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(100%); 
    -o-transition: .5s ease-in-out;
    filter: grayscale(100%);
    transition: .5s ease-in-out;
}
.grayscale:hover, 
.active > .grayscale {
    -webkit-filter: grayscale(0%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .5s ease-in-out;
    filter: grayscale(0%);
    transition: .5s ease-in-out;
}

.spec-img {
    display: inline-block;
    float: left;
    width: 136px;
    height: 136px;
    border: 1px solid #fff;
    background-size: cover; 
}

.spec-img.spec-offset-1 {
    margin-left: 136px;
}

.spec-img.spec1 {
    background: url(../images/spec1.jpg) no-repeat;
}

.spec-img.spec2 {
    background: url(../images/spec2.jpg) no-repeat;
}

.spec-img.spec3 {
    background: url(../images/spec3.jpg) no-repeat;
}

.spec-img.spec4 {
    background: url(../images/spec4.jpg) no-repeat;
}

.spec-img.spec5 {
    background: url(../images/spec5.jpg) no-repeat;
}

.spec-img.spec6 {
    background: url(../images/spec6.jpg) no-repeat;
}

.spec-img.spec7 {
    background: url(../images/spec7.jpg) no-repeat;
}

.spec-img.spec8 {
    background: url(../images/spec8.jpg) no-repeat;
}

.spec-img.spec9 {
    background: url(../images/spec9.jpg) no-repeat;
}

.spec-img.spec10 {
    background: url(../images/spec10.jpg) no-repeat;
}

.welcome-words {
    padding-top: 165px;
}

.welcome-word {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 33px;
    color: #fff;
    padding-right: 17px;
    padding-left: 17px;
    margin-bottom: 12px;
}

.welcome-word.small {
    font-size: 18px;
    line-height: 22px;
    padding-top: 9px;
    padding-bottom: 7px;
    height: auto;
}

.welcome-word.blue {
    background: #27A3C9;
}

.welcome-word.yellow {
    background: #F69F23;
}

.welcome-word.purple {
    background: #A63694;
}

.welcome-word.dark-blue {
    background: #33637B;
}

.choose-item {
    margin: 45px 35px 49px;
}

.choose-item .image {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 350px;
    height: 400px;
    margin: 0 auto;
}

.choose-item .btn {
    height: 101px;
    line-height: 101px;
    font-size: 50px;
}

.choose-item .btn.small {
    height: 60px;
    line-height: 55px;
    font-size: 20px;
}

.choose-item .description {
    border: 2px solid #DCDCDC;
    font-size: 20px;
    padding: 18px 70px 13px;
}

.choose-item .description.instruction {
    height: 536px;
}

.choose-item .description.small {
    font-size: 14px;
    padding: 7px 21px 13px;
}

.choose-item .description.bottom {
    border-top-width: 0;
}

.choose-item .description.top {
    border-bottom-width: 0;
}

.search-block {
    background: #F6F6F6;
    padding-top: 34px;
    padding-bottom: 30px;
}

h2 {
    font-size: 35px;
    margin-bottom: 50px;
}

.industry-nav {
    text-align: center;
}

.industry-nav ul {
    display: inline-block;
    background: #fff;
}

.industry-nav li {
    float: left;
    margin: 0;
    padding: 0;
}

.industry-item {
    width: 164px;
    height: 163px;
    border-bottom: 2px solid #fff;
    position: relative;
}

.industry-item:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -32px;
    left: calc((50%) - (8px));
    border: 16px solid transparent;	
    border-top: 16px solid transparent;
}

.industry-item:hover,
.industry-item.active {
    border-bottom-color: #F69F23;
    cursor: pointer;
}

.industry-item:hover:after,
.industry-item.active:after {
    border-top-color: #F69F23;
}

.industry-item.no-pointer:after {
    display: none;
}

.industry-item .image {
    border: 2px solid #fff;
    width: 100%;
    height: 109px;
    background-size: contain;
}

.industry-item .image.industry1 {
    background: url(../images/industry1.jpg);
}

.industry-item .image.industry2 {
    background: url(../images/industry2.jpg);
}

.industry-item .image.industry3 {
    background: url(../images/industry3.jpg);
}

.industry-item .image.industry4 {
    background: url(../images/industry4.jpg);
}

.industry-item .image.industry5 {
    background: url(../images/industry5.jpg);
}

.industry-item .image.industry6 {
    background: url(../images/industry6.jpg);
}

.industry-item .description {
    text-align: center;
    color: #000;
    font-size: 16px;
    padding: 4px 10px; 
}

.industry-tables {
    margin-top: 20px;
    text-align: center;
}

table.industry-table,
table.contractor-table {
    background: #fff;
}

.table-bordered {
    border-top: 1px solid #33637B;
}

.table-bordered > thead > tr > th {
    color: #fff;
    font-size: 16px;
}

table.industry-table > thead > tr > th:nth-child(1) {
    background: #F69F23;
    width: 45%;
}

table.industry-table > thead > tr > th:nth-child(2) {
    background: #C93C2B;
    width: 10%;
}

table.industry-table > thead > tr > th:nth-child(3) {
    background: #27A3C9;
    width: 45%;
}

table.contractor-table > thead > tr > th:nth-child(1) {
    background: #F69F23;
    width: 45%;
}

table.contractor-table > thead > tr > th:nth-child(2) {
    background: #A63694;
    width: 10%;
}

table.contractor-table > thead > tr > th:nth-child(3) {
    background: #C93C2B;
    width: 45%;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
    border: 1px solid #33637B;
    text-align: center;
    padding: 15px;
}

.table-bordered.contractor-table > tbody > tr > td:nth-child(1) {
    text-align: left;
}

table.industry-table > tbody > tr:nth-child(even),
table.contractor-table > tbody > tr:nth-child(even) {
    background: #E2E7E9;
}

.how-it-works {
    min-height: 550px;
    background: url(../images/how-it-works-bg.jpg) no-repeat;
    background-size: cover;
    padding-top: 32px;
}

.step-item {
    margin: 0 auto;
    width: 470px;
    max-width: 100%;
    padding: 15px 25px;
    color: #fff;
    font-size: 18px;
    position: relative;
}

.step-item.full-width {
    width: 100%;
}

.step-item + .step-item {
    margin-top: 15px;
}

.step-bottom:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -30px;
    left: calc((50%) - (8px));
    border: 15px solid transparent;	
    border-top: 15px solid transparent;
}

.step-top:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: calc((50%) - (8px));
    border: 15px solid transparent;	
    border-top: 15px solid #fff;
}

.bg-yellow.step-bottom:after {
    border-top-color: #F69F23;
}

.bg-blue.step-bottom:after {
    border-top-color: #27A3C9;
}

.bg-red.step-bottom:after {
    border-top-color: #C93C2B;
}

.bg-yellow {
    background: #F69F23;
}

.bg-blue {
    background: #27A3C9;
}

.bg-red {
    background: #C93C2B;
}

.social-list {
    margin-top: 22px;
}

.social-icon {
    display: block;
    width: 17px;
    height: 17px;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
}
.social-icon.small {

}

.social-icon.icon-vk {
    background-image: url(../images/vk.png);
}

.social-icon.icon-ok {
    background-image: url(../images/ok.png);
}

.social-icon.icon-facebook {
    background-image: url(../images/facebook.png);
}

.social-icon.icon-mailru {
    background-image: url(../images/mailru.png);
}

.social-icon.icon-twitter {
    background-image: url(../images/twitter.png);
}

.social-icon.icon-instagram {
    background-image: url(../images/instagram.png);
}

.garanty {
    min-height: 760px;
    background: url(../images/garanty-bg.jpg) no-repeat center top;
    background-size: cover;
    position: relative;
    padding-top: 33px;
}

.garanty:after {
    display: block;
    content: '';
    position: absolute;
    top: calc((50%) + (28px));
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(221, 221, 221, 0.9);
}

.garanty-categories {
    position: absolute;
    margin: 0 auto;
    bottom: 53px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.garanty h2 {
    margin-bottom: 30px;
}

.garanty .btn {
    width: 351px;
    height: 56px;
    margin: 30px auto 0;
    font-size: 16px;
    line-height: 53px;
}

.how-portal-works {
    padding-top: 34px;
    padding-bottom: 45px;
    background: #F6F6F6;
}

.laptop {
    display: block;
    margin: 0 auto;
    width: 984px;
    height: 531px;
    background: url(../images/laptop.png) no-repeat center center;
    background-size: contain;
    position: relative;
}

.laptop-video {
    width: 644px;
    height: 412px;
    position: absolute;
    top: 37px;
    left: calc((50%) - (324px));
}

.catalog {
    padding-top: 32px;
    padding-bottom: 33px;
}

.catalog-list {
    width: 984px;
    display: inline-block;
}

.catalog-list li a,
.catalog-list li a:focus,
.catalog-list li a:active {
    display: block;
    width: 100%;
    text-align: left;
    color: #000;
    text-decoration: underline;
    margin-right: -5px;
    margin-left: -5px;
    font-size: 16px;
}
.catalog-list li a:target,
.catalog-list li a:hover {
    color: #000;
    text-decoration: none;
}

.bg-gray {
    background: #F6F6F6;
}

.best-contractors {
    padding-top: 34px;
}

.contractor-card {
    display: inline-block;
    width: 100%;
}

.contractor-card .image {
    float: left;
    width: 70px;
    height: 80px;
    padding-top: 8px;
    text-align: center;
}

.contractor-card .info {
    float: left;
}

.contractor-card .info-row {
    display: block;
}

.bg-purple {
    background: #AA4099;
}

.bg-purple h2 {
    color: #fff;
}

.social {
    padding-top: 34px;
    padding-bottom: 37px;
}

.text-blue {
    color: #27A3C9;
}

.text-yellow {
    color: #F69F23;
}

.text-white {
    color: #fff;
}

.text-bold {
    font-weight: bold;
}

h4 {
    margin-bottom: 15px;
}

.feedbacks {
    padding-top: 34px;
    padding-bottom: 33px;
}

.feedback-slider {
    position: relative;
    width: 100%;
    height: 203px;
    padding: 0 70px;
}

.feedbacks-wrapper {
    overflow: hidden;
    width: 100%;
    height: inherit;
}

.feedbacks-container {
    width: 10000px;
    -webkit-transition:all 1.0s ease-in-out;
        -moz-transition:all 1.0s ease-in-out;
            -o-transition:all 1.0s ease-in-out;
                transition:all 1.0s ease-in-out;
}

.feedback-slider .arrow {
    position: absolute;
    top: calc((50%) - (25px));
    display: block;
    width: 20px;
    height: 50px;
}
.feedback-slider .arrow:hover {
    cursor: pointer;
    opacity: 0.75;
}

.feedback-slider .arrow.right {
    right: 0;
    background: url(../images/arrow-right.png) no-repeat right center;
}

.feedback-slider .arrow.left {
    left: 0;
    background: url(../images/arrow-left.png) no-repeat left center;
}

.feedback-slide {
    display: inline-block;
    width: 805px;
    height: inherit;
    float: left;
}

.feedback-slide .image {
    display: flex;
    float: left;
    width: 203px;
    height: 203px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    background: #fff;
}

.feedback-slide .image > img {
    margin: auto;
    margin-bottom: 0;
}

.feedback-slide .comment {
    width: calc((100%) - (203px));
    height: inherit;
    float: left;
    padding-left: 49px;
    color: #fff;
}

.feedback-slide .comment .text {
    text-align: justify;
}

.feedback-slide .comment .author-row {
    display: block;
    text-align: right;
}

.feedback-slide .comment .author-row:first-child {
    margin-top: 15px;
}

.btn-icon {
    display: flex;
    border-radius: 3px;
    margin: 0 4px;
}

.btn-icon.btn-xs {
    width: 32px;
    height: 32px;
    margin: 0 1px;
}

.btn-icon.btn-md {
    width: 62px;
    height: 62px;
}

.icon {
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
}

.icon.icon-refresh {
    background: url(../images/refresh-icon.png) no-repeat center center;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.captcha {
    width: 150px;
    height: 33px;
    line-height: 33px;
    padding: 0 6px;
    border-radius: 3px; 
    margin-right: 8px;
    margin-left: 8px;
    border: 1px solid #BCBCBC;
}

.form-control {
    height: 33px;
    border: 1px solid #BCBCBC;
    border-radius: 3px; 
}

form .btn {
    height: 37px;
    line-height: 32px;
    font-size: 14px;
}

form .btn.btn-xs {
    height: 25px;
    line-height: 19px;
    padding-right: 20px;
    padding-left: 20px;
}

form .btn.btn-action {
    width: 200px;
}

form .btn.btn-action + .btn.btn-action {
    margin-left: 20px;
}

.dynamic-container {
    position: relative;
}

.chat-container, 
.profile-card {
    background: #BCBCBC;
    padding: 9px;
    position: absolute;
    top: -4px;
    right: 0;
    left: 0;
    z-index: 1;
    font-size: 12px;
}

.profile-card .image {
    float: left;
    margin-right: 5px;
    border-radius: 4px;
    overflow: hidden;
}

.profile-card .user-name {
    display: inline-block;
}

.profile-card ul + ul {
    margin-top: 10px;
}

.order-item .profile-card ul > li {
    width: 100%;
    height: auto;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.msg-period__label {
    float: left;
    font-weight: normal;
    height: 16px;
    line-height: 16px;
    margin-right: 5px;
    margin-bottom: 0;
}

.msg-period {
    display: inline-block;
    margin: 0;
}

.msg-period > li {
    float: left;
    padding-left: 0;
}

.msg-period > li > a {
    text-decoration: none;
    color: #000;
    height: 16px;
    line-height: 16px;
    display: block;
}
.msg-period > li > a:after {
    content: ',';
    display: inline-block;
    color: #000;
}
.msg-period > li:last-child > a:after {
    display: none;
}

.msg-period > li > a:hover,
.msg-period > li.active > a,
.msg-period > li > a:hover:after,
.msg-period > li.active > a:after {
    color: #fff;
}

.message-item-row {
    display: inline-block;
    width: 100%;
    color: #000;
    margin-top: 3px;
}

.message-item .text-right {
    float: right;
}

.message-item + .message-item {
    margin-top: 5px;
}

.message-item:last-child {
    margin-bottom: 5px;
}

textarea.form-control {
    resize: none;
    border-radius: 0;
}

.chat-container textarea.form-control {
    background: #E6E6E6;
}

.share-block__socials,
.system-block__msg {
    background: #F6F6F6;
    margin-top: -26px;
    padding: 19px 15px 12px;
    margin-bottom: 23px;
}

.share-block__socials .social-list {
    margin-top: 0;
}

.adv-container {
    display: inline-block;
    width: 100%;
    background: #F6F6F6;
}

.adv-container.horizontal {
    padding: 10px 5px;
}

.adv-container.vertical {
    padding: 10px 10px;
}

.adv-container.horizontal .adv-block {
    display: inline-block;
    float: left;
    margin: 0 5px;
    width: calc((100%) / (4) - (10px));
}

.adv-container.vertical .adv-block {
    margin: 0;
}
.adv-container.vertical .adv-block + .adv-block {
    margin-top: 10px;
}

.category-form > .form-group > label {
    display: block;
    font-size: 16px;
}

.category-form .form-group + .form-group {
    margin-top: 20px;
}

.category-form .form-group:last-child {
    margin-top: 30px;
}

form .btn.btn-lg,
form .form-group label.btn.btn-lg {
    width: 250px;
    font-size: 14px; 
}

.no-left-padding {
    padding-left: 0;
}

.system-msg--item {
    background: #00648C;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    font-size: 13px;
}

.system-msg--item + .system-msg--item {
    margin-top: 10px;
}

.system-msg--item > header {
    background: #27A3C9;
    min-height: 25px;
    padding: 5px 15px;
}

.system-msg--item > .body {
    padding: 10px;
    margin: 0;
    font-size: 12px;
}

.system-msg--item > footer {
    display: inline-block;
    width: 100%;
    padding: 0 10px 10px;
}

.system-msg--item > footer > span + span {
    float: right;
}

.order-item__description {
    display: none;
    background: #BCBCBC;
    color: #000;
    padding: 5px 10px;
    font-size: 11px;
}

.order-item__description label {
    color: #fff;
}

.order-item__description .well {
    border-radius: 0;
    margin-bottom: 5px;
    white-space: pre-line;
    padding: 0px 10px 5px;
}

.opened > .order-item__description {
    display: block;
}