<!DOCTYPE html>
<html lang="ru" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>СТРОЙПОРТАЛ | Заказчик</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <link href="css/styles.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="container-fluid page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="/" class="logo-link">
                        <img src="images/logo.png" alt="СТРОЙПОРТАЛ" class="img-responsive">
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <menu class="main-menu">
                        <ul class="list-unstyled list-inline">
                            <li class="main-link">
                                <a href="index.html">Главная</a>
                            </li>
                            <li class="how-link">
                                <a href="#">Как работает портал?</a>
                            </li>
                            <li class="customer-link active">
                                <a href="customer.html">Заказчик</a>
                            </li>
                            <li class="contractor-link">
                                <a href="contractor.html">Исполнитель</a>
                            </li>
                            <li class="job-link">
                                <a href="giveTheJob.html" class="btn btn-special-red">Дать задание</a>
                            </li>
                        </ul>
                    </menu>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="auth-user">
                        <div class="auth-user__avatar">
                            <span class="default-avatar"></span>
                        </div>
                        <div class="auth-user__info">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="user-name customer">
                                        Ник Исполнителя
                                    </span>
                                </li>
                                <li>
                                    Заказал: 
                                    <b>132 задания</b>
                                </li>
                                <li>
                                    Оценки: 
                                    <span class="positive-rating">+23</span>/
                                    <span class="neutral-rating">5</span>/
                                    <span class="negative-rating">-0</span>
                                </li>
                                <li>
                                    <div class="left-side">
                                        Баланс: <b>5000р</b>
                                    </div>
                                    <div class="right-side text-right">
                                        <a href="#" class="exit-link">Выйти</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="container page-content">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="plate plate-blue">
                    <span class="plate-title">Ogorodnikova</span>
                    <span class="plate-count">3</span>
                </div>

                <div class="plate plate-blue">
                    <span class="plate-title">Боткин Александр</span>
                    <span class="plate-count">1</span>
                </div>

                <div class="system-block" ng-controller="SystemController">
                    <div class="plate plate-red" ng-click="toggleBlock()">
                        <span class="plate-title">Системные сообщения</span>
                        <span class="plate-count">3</span>
                    </div>
                    <div class="system-block__msg" ng-class="{'hidden': hide}">
                        <div class="system-msg--item">
                            <header>
                                Внести изменения на сайте 
                            </header>
                            <p class="body">
                                Исполнитель согласился на ваше задание. 
                                Если кандидат вас не устраивает, 
                                вы можете отклонить его кандидатуру.
                            </p>
                            <footer>
                                <span>10.11.2016</span>
                                <span>13:12</span>
                            </footer>
                        </div>
                        
                        <div class="system-msg--item">
                            <header>
                                Внести изменения на сайте 
                            </header>
                            <p class="body">
                                Исполнитель согласился на ваше задание. 
                                Если кандидат вас не устраивает, 
                                вы можете отклонить его кандидатуру.
                            </p>
                            <footer>
                                <span>10.11.2016</span>
                                <span>13:12</span>
                            </footer>
                        </div>
                        
                        <div class="system-msg--item">
                            <header>
                                Внести изменения на сайте 
                            </header>
                            <p class="body">
                                Исполнитель согласился на ваше задание. 
                                Если кандидат вас не устраивает, 
                                вы можете отклонить его кандидатуру.
                            </p>
                            <footer>
                                <span>10.11.2016</span>
                                <span>13:12</span>
                            </footer>
                        </div>
                    </div>
                </div>
                
                <div class="adv-block">
                    <img src="images/adv.jpg" alt="Реклама">
                </div>
                <div class="adv-block">
                    <img src="images/adv.jpg" alt="Реклама">
                </div>
                <div class="adv-block">
                    <img src="images/adv.jpg" alt="Реклама">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="orders-tabs customer-orders">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#order" aria-controls="order" role="tab" data-toggle="tab">Задания</a>
                        </li>
                        <li role="presentation">
                            <a href="#history" aria-controls="history" role="tab" data-toggle="tab">История</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="order">

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                                <div class="panel panel-custom">
                                    <div class="panel-heading" role="tab" id="searchHead">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#search" aria-expanded="false" aria-controls="search">
                                        Поиск исполнителей (1)
                                        </a>
                                    </h4>
                                    </div>
                                    <div id="search" class="panel-collapse collapse" role="tabpanel" aria-labelledby="searchHead">
                                        <div class="panel-body">
                                            <div class="order-item no-footer" ng-controller="OrderItemController">
                                                <header class="order-header">
                                                    <div class="row">
                                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                                            Для Елены пиротехника <b>400</b>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 text-right">
                                                            <button type="button" class="btn btn-special-red list">
                                                                <span class="white-line one-line"></span>
                                                                <span class="white-line one-line"></span>
                                                                <span class="white-line one-line"></span>
                                                            </button>

                                                            <button type="button" class="btn btn-special-red">
                                                                <i class="icon small remove"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </header>
                                            </div>

                                            <div class="order-item no-footer order-offer" ng-controller="OrderItemController">
                                                <header class="order-header">
                                                    <div class="row">
                                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                                            <input type="checkbox">
                                                            Евгений
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 text-right">
                                                            <button type="button" class="btn btn-special-red" ng-click="toggleChat()">
                                                                <i class="icon small message"></i>
                                                            </button>

                                                            <button type="button" class="btn btn-special-red" ng-click="toggleCard()">
                                                                <i class="icon small user"></i>
                                                            </button>

                                                            <button type="button" class="btn btn-special-red">
                                                                <i class="icon small checked"></i>
                                                            </button>

                                                            <button type="button" class="btn btn-special-red">
                                                                <i class="icon small remove"></i>
                                                            </button>

                                                            <button type="button" class="btn btn-special-red list">
                                                                <span class="white-line one-line"></span>
                                                                <span class="white-line one-line"></span>
                                                                <span class="white-line one-line"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </header>
                                                <div class="dynamic-container">
                                                    <div class="chat-container" ng-class="{'hidden': !activeChat}">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <label class="msg-period__label">Показать сообщения:</label>
                                                                <ul class="list-inline msg-period">
                                                                    <li>
                                                                        <a href="#" class="msg-period__item">Вчера</a>
                                                                    </li>
                                                                    <li class="active">
                                                                        <a href="#" class="msg-period__item">7 дней</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="msg-period__item">30 дней</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="msg-period__item">2 месяца</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="message-item">
                                                                    <div class="user-name">
                                                                        <span>Ник исполнителя</span>
                                                                        <span class="text-right">07.11.2016</span>
                                                                    </div>
                                                                    <div class="message-item-row">
                                                                        <span>
                                                                            Доброго дня! готов выполнить Ваше задание
                                                                        </span>
                                                                        <span class="text-right">12:54</span>
                                                                    </div>
                                                                    <div class="message-item-row">
                                                                        <span>
                                                                            Хотелось бы обсудить
                                                                        </span>
                                                                        <span class="text-right">12:55</span>
                                                                    </div>
                                                                </div>

                                                                <div class="message-item">
                                                                    <div class="user-name customer">
                                                                        <span>Ник заказчика</span>
                                                                        <span class="text-right">07.11.2016</span>
                                                                    </div>
                                                                    <div class="message-item-row">
                                                                        <span>
                                                                            Здравствуйте
                                                                        </span>
                                                                        <span class="text-right">12:56</span>
                                                                    </div>
                                                                    <div class="message-item-row">
                                                                        <span>
                                                                            бла бла бла
                                                                        </span>
                                                                        <span class="text-right">12:57</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <form action="/">
                                                                    <div class="form-group">
                                                                        <textarea name="msg" id="" cols="30" rows="5" class="form-control"></textarea>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="row">
                                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                                <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} файла выбрано">
                                                                                <label for="file" class="btn btn-purple btn-special btn-xs">
                                                                                    <span>Выбрать файл</span>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                                                                <button type="sybmit" class="btn btn-red btn-special btn-xs">
                                                                                    Отправить
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="profile-card" ng-class="{'hidden': !activeCard}">
                                                        <div class="image">
                                                            <img src="images/card-user.jpg" alt="Ник Исполнителя" class="img-responsive">
                                                        </div>
                                                        <div class="auth-user__info">
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    <span class="user-name">
                                                                        Ник Исполнителя
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>Рейтинг: </span>2225 (2662-й)
                                                                </li>
                                                                <li>
                                                                    <span>Оценки: </span>
                                                                    <span class="positive-rating">+21</span>/
                                                                    <span class="neutral-rating">21</span>/
                                                                    <span class="negative-rating">-0</span>
                                                                </li>
                                                                <li>
                                                                    <span>Заказал: </span>0 заданий (на 0)
                                                                </li>
                                                                <li>
                                                                    <span>Выполнил: </span>22 задания (на 5 928)
                                                                </li>
                                                                <li>
                                                                    <span>Возрпаст: </span>26 лет
                                                                </li>
                                                                <li>
                                                                    <span>Страна, город: </span>Ростов-на-Дону, Россия
                                                                </li>
                                                            </ul>

                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    <span class="user-name">
                                                                        Отзывы
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>Создание дизайна для КП: </span>
                                                                    Заказчик просто СУПЕР! Очень рекомендую. Никаких придирок всё по делу!
                                                                </li>
                                                                <li>
                                                                    <span>Создание дизайна для КП: </span>
                                                                    Заказчик просто СУПЕР! Очень рекомендую. Никаких придирок всё по делу!
                                                                </li>
                                                                <li>
                                                                    <span>Создание дизайна для КП: </span>
                                                                    Заказчик просто СУПЕР! Очень рекомендую. Никаких придирок всё по делу!
                                                                </li>
                                                                <li>
                                                                    <span>Создание дизайна для КП: </span>
                                                                    Заказчик просто СУПЕР! Очень рекомендую. Никаких придирок всё по делу!
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="order-item no-footer order-offer" ng-controller="OrderItemController">
                                                <header class="order-header">
                                                    <div class="row">
                                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                                            <input type="checkbox">
                                                            Артем
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 text-right">
                                                            <button type="button" class="btn btn-special-red" ng-click="toggleChat()">
                                                                <i class="icon small message"></i>
                                                            </button>

                                                            <button type="button" class="btn btn-special-red" ng-click="toggleCard()">
                                                                <i class="icon small user"></i>
                                                            </button>

                                                            <button type="button" class="btn btn-special-red">
                                                                <i class="icon small checked"></i>
                                                            </button>

                                                            <button type="button" class="btn btn-special-red">
                                                                <i class="icon small remove"></i>
                                                            </button>

                                                            <button type="button" class="btn btn-special-red list">
                                                                <span class="white-line one-line"></span>
                                                                <span class="white-line one-line"></span>
                                                                <span class="white-line one-line"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </header>
                                                <div class="dynamic-container">
                                                    <div class="chat-container" ng-class="{'hidden': !activeChat}">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <label class="msg-period__label">Показать сообщения:</label>
                                                                <ul class="list-inline msg-period">
                                                                    <li>
                                                                        <a href="#" class="msg-period__item">Вчера</a>
                                                                    </li>
                                                                    <li class="active">
                                                                        <a href="#" class="msg-period__item">7 дней</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="msg-period__item">30 дней</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="msg-period__item">2 месяца</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="message-item">
                                                                    <div class="user-name">
                                                                        <span>Ник исполнителя</span>
                                                                        <span class="text-right">07.11.2016</span>
                                                                    </div>
                                                                    <div class="message-item-row">
                                                                        <span>
                                                                            Доброго дня! готов выполнить Ваше задание
                                                                        </span>
                                                                        <span class="text-right">12:54</span>
                                                                    </div>
                                                                    <div class="message-item-row">
                                                                        <span>
                                                                            Хотелось бы обсудить
                                                                        </span>
                                                                        <span class="text-right">12:55</span>
                                                                    </div>
                                                                </div>

                                                                <div class="message-item">
                                                                    <div class="user-name customer">
                                                                        <span>Ник заказчика</span>
                                                                        <span class="text-right">07.11.2016</span>
                                                                    </div>
                                                                    <div class="message-item-row">
                                                                        <span>
                                                                            Здравствуйте
                                                                        </span>
                                                                        <span class="text-right">12:56</span>
                                                                    </div>
                                                                    <div class="message-item-row">
                                                                        <span>
                                                                            бла бла бла
                                                                        </span>
                                                                        <span class="text-right">12:57</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <form action="/">
                                                                    <div class="form-group">
                                                                        <textarea name="msg" id="" cols="30" rows="5" class="form-control"></textarea>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="row">
                                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                                <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} файла выбрано">
                                                                                <label for="file" class="btn btn-purple btn-special btn-xs">
                                                                                    <span>Выбрать файлы</span>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                                                                <button type="sybmit" class="btn btn-red btn-special btn-xs">
                                                                                    Отправить
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="profile-card" ng-class="{'hidden': !activeCard}">
                                                        <div class="image">
                                                            <img src="images/card-user.jpg" alt="Ник Исполнителя" class="img-responsive">
                                                        </div>
                                                        <div class="auth-user__info">
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    <span class="user-name">
                                                                        Ник Исполнителя
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>Рейтинг: </span>2225 (2662-й)
                                                                </li>
                                                                <li>
                                                                    <span>Оценки: </span>
                                                                    <span class="positive-rating">+21</span>/
                                                                    <span class="neutral-rating">21</span>/
                                                                    <span class="negative-rating">-0</span>
                                                                </li>
                                                                <li>
                                                                    <span>Заказал: </span>0 заданий (на 0)
                                                                </li>
                                                                <li>
                                                                    <span>Выполнил: </span>22 задания (на 5 928)
                                                                </li>
                                                                <li>
                                                                    <span>Возрпаст: </span>26 лет
                                                                </li>
                                                                <li>
                                                                    <span>Страна, город: </span>Ростов-на-Дону, Россия
                                                                </li>
                                                            </ul>

                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    <span class="user-name">
                                                                        Отзывы
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>Создание дизайна для КП: </span>
                                                                    Заказчик просто СУПЕР! Очень рекомендую. Никаких придирок всё по делу!
                                                                </li>
                                                                <li>
                                                                    <span>Создание дизайна для КП: </span>
                                                                    Заказчик просто СУПЕР! Очень рекомендую. Никаких придирок всё по делу!
                                                                </li>
                                                                <li>
                                                                    <span>Создание дизайна для КП: </span>
                                                                    Заказчик просто СУПЕР! Очень рекомендую. Никаких придирок всё по делу!
                                                                </li>
                                                                <li>
                                                                    <span>Создание дизайна для КП: </span>
                                                                    Заказчик просто СУПЕР! Очень рекомендую. Никаких придирок всё по делу!
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-custom">
                                    <div class="panel-heading" role="tab" id="inWorkHeader">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#inWork" aria-expanded="false" aria-controls="inWork">
                                        В работе (0)
                                        </a>
                                    </h4>
                                    </div>
                                    <div id="inWork" class="panel-collapse collapse" role="tabpanel" aria-labelledby="inWorkHeader">
                                    <div class="panel-body"></div>
                                    </div>
                                </div>
                                <div class="panel panel-custom">
                                    <div class="panel-heading" role="tab" id="waitingHeader">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#waiting" aria-expanded="false" aria-controls="waiting">
                                        На проверку (0)
                                        </a>
                                    </h4>
                                    </div>
                                    <div id="waiting" class="panel-collapse collapse" role="tabpanel" aria-labelledby="waitingHeader">
                                    <div class="panel-body"></div>
                                    </div>
                                </div>
                                <div class="panel panel-custom">
                                    <div class="panel-heading" role="tab" id="mutualFailureHeader">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#mutualFailure" aria-expanded="false" aria-controls="mutualFailure">
                                        Взаимоотказ (0)
                                        </a>
                                    </h4>
                                    </div>
                                    <div id="mutualFailure" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mutualFailureHeader">
                                    <div class="panel-body"></div>
                                    </div>
                                </div>
                                <div class="panel panel-custom">
                                    <div class="panel-heading" role="tab" id="arbitrationHeader">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#arbitration" aria-expanded="false" aria-controls="arbitration">
                                        Арбитраж (0)
                                        </a>
                                    </h4>
                                    </div>
                                    <div id="arbitration" class="panel-collapse collapse" role="tabpanel" aria-labelledby="arbitrationHeader">
                                    <div class="panel-body"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="history">
                            <div class="order-item">
                                <header class="order-header">
                                    <div class="row">
                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                            Для Елены пиротехника <b>400</b>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 text-right">

                                            <button type="button" class="btn btn-special-red list">
                                                <span class="white-line one-line"></span>
                                                <span class="white-line one-line"></span>
                                                <span class="white-line one-line"></span>
                                            </button>
                                        </div>
                                    </div>
                                </header>
                                <footer class="order-footer">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            Александр
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                            <button type="button" class="btn btn-empty message-action">
                                                <i class="icon small message"></i>
                                            </button>
                                            
                                            <button type="button" class="btn btn-empty profile-action">
                                                <i class="icon small user"></i>
                                            </button>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="share-block" ng-controller="ShareController">
                    <div class="plate plate-purple text-center" ng-click="toggleShare()">
                        <span class="plate-title">Рассказать друзьям</span>
                    </div>
                    <div class="share-block__socials" ng-class="{'hidden': hide}">
                        <ul class="list-unstyled list-inline social-list">
                            <li>
                                <a href="#" class="btn btn-special btn-dark-blue btn-icon btn-xs">
                                    <i class="social-icon icon-vk small"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-special btn-orange btn-icon btn-xs">
                                    <i class="social-icon icon-ok small"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-special btn-dark-blue btn-icon btn-xs">
                                    <i class="social-icon icon-facebook small"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-special btn-yellow-light btn-icon btn-xs">
                                    <i class="social-icon icon-mailru small"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-special btn-black btn-icon btn-xs">
                                    <i class="social-icon icon-instagram small"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="adv-container vertical">
                    <div class="adv-block">
                        <img src="images/adv.jpg" alt="Реклама">
                    </div>
                    <div class="adv-block">
                        <img src="images/adv.jpg" alt="Реклама">
                    </div>
                    <div class="adv-block">
                        <img src="images/adv.jpg" alt="Реклама">
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer class="container-fluid page-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 sol-sm-3">
                    <h5>Как тут все устроено</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">О сервисе</a>
                        </li>
                        <li>
                            <a href="#">Заказчикам</a>
                        </li>
                        <li>
                            <a href="#">Исполнителям</a>
                        </li>
                        <li>
                            <a href="#">Партнёр</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 sol-sm-3">
                    <h5>Как тут все устроено</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">О сервисе</a>
                        </li>
                        <li>
                            <a href="#">Заказчикам</a>
                        </li>
                        <li>
                            <a href="#">Исполнителям</a>
                        </li>
                        <li>
                            <a href="#">Партнёр</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 sol-sm-3">
                    <h5>Как тут все устроено</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">О сервисе</a>
                        </li>
                        <li>
                            <a href="#">Заказчикам</a>
                        </li>
                        <li>
                            <a href="#">Исполнителям</a>
                        </li>
                        <li>
                            <a href="#">Партнёр</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 sol-sm-3">
                    <h5>Как тут все устроено</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">О сервисе</a>
                        </li>
                        <li>
                            <a href="#">Заказчикам</a>
                        </li>
                        <li>
                            <a href="#">Исполнителям</a>
                        </li>
                        <li>
                            <a href="#">Партнёр</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="js/jquery.1.12.4.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <script src="js/bootstrap-native.1.1.0.min.js"></script>
    <script src="js/custom-file-input.js"></script>
  </body>
</html>